<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="img-container">
    <h2 class="text-white text-center m-5">Eros Y Angela</h2>
    <p class="description">
      Eros y Ángela celebraron su amor en Villafranca, Navarra, en una ceremonia
      íntima rodeada de amigos y familiares. La histórica iglesia del pueblo fue
      el escenario perfecto para sus emotivos votos. Posteriormente, la pareja
      se dirigió a las Bardenas Reales, donde el paisaje semidesértico sirvió
      como telón de fondo para imágenes impresionantes. El contraste entre el
      vestido blanco de Ángela y las formaciones rocosas creó fotos
      inolvidables. La recepción fue llena de alegría, con música que mantuvo a
      todos en la pista de baile. La boda de Eros y Ángela fue una celebración
      de amor y aventura, creando recuerdos eternos.
    </p>
    <div class="row">
      <!-- Start of the first column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/eros_angela/167C6027.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/167C6235.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/12307190014.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />

        <img
          src="/assets/eros_angela/_MG_8307.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/167C6185-2.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/IMG_2221.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />

        <img
          src="/assets/eros_angela/167C6058.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/167C9039.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/167C5972.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />

        <img
          src="/assets/eros_angela/IMG_2205.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/167C6109.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/167C5998.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
      </div>
      <!-- End of the first column -->

      <!-- Start of the second column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/eros_angela/167C8447.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/167C9139.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/12307190005.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/12307190033.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/12307190018.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />

        <img
          src="/assets/eros_angela/12307190050.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
        <img
          src="/assets/eros_angela/167C6085.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />

        <img
          src="/assets/eros_angela/167C6168.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />

        <img
          src="/assets/eros_angela/167C5864.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />

        <img
          src="/assets/eros_angela/167C6062.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />

        <img
          src="/assets/eros_angela/IMG_2178.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda de modesto fotografo de bodas navarra"
          loading="lazy"
        />
      </div>
      <!-- End of the second column -->
    </div>
  </div>
</div>
