@import '/src/variables';


.container-fluid {
  background-color: $primary-color;
}

.img-container{
  width: 900px;
}

.row img {
  width: 100%; /* Makes image responsive */
  border-radius: 5px;
}
