<!-- collage.component.html -->

<div class="container mt-3 collage-container">
  <h2 class="text-center mb-5 text-white">Wedding Portfolio</h2>

  <div class="row position-relative">
    <ng-container *ngFor="let photo of weddingPhotos; let i = index">
      <div class="col collage-image" [ngStyle]="getPhotoStyle(i)">
        <img [src]="photo.url" class="img-fluid" [alt]="photo.title">
        <div class="photo-caption">
          <h5>{{ photo.title }}</h5>
          <p>{{ photo.description }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
