<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="img-container">
    <h1 class="text-white text-center m-5">Bea e Iñigo</h1>
    <div class="row">
      <!-- Start of the first column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/bea_iñigo/IMG_7641.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/IMG_7656.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/_MG_7681.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7725.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7749.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7846.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7874.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7930.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
      </div>
      <!-- End of the first column -->

      <!-- Start of the second column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/bea_iñigo/_MG_7706.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/_MG_7709.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7670.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7738.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7834.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7856.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7876.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
        <img
          src="/assets/bea_iñigo/167C7942.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
        />
      </div>
      <!-- End of the second column -->
    </div>
  </div>
</div>
