<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="img-container">
    <h2 class="text-white text-center m-5">Rafa y Paola</h2>
    <p class="description">
      En Cadreita, Navarra, Rafa y Paola dieron el "sí" en la histórica iglesia
      del pueblo, marcando el inicio de su aventura juntos. Fue un día claro,
      con la iglesia como testigo de su compromiso, rodeados de familiares y
      amigos. Entre risas, miradas cómplices y algún que otro nervio,
      prometieron cuidarse el uno al otro. La ceremonia, sencilla pero
      significativa, dejó claro que lo importante era su unión, más allá de los
      adornos. La fiesta posterior, con amigos, fue increíblemente divertida,
      llena de bailes, anécdotas y momentos que quedarán para el recuerdo. Así,
      Rafa y Paola empezaron su camino juntos, con el encanto de Cadreita como
      telón de fondo, listos para lo que la vida les depare, siempre con una
      sonrisa.
    </p>
    <div class="row">
      <!-- Start of the first column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/rafa_paola/_MG_8563.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/_MG_8685.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/12212270001.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/rafa_paola/_MG_8769.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/12212270004.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/167C1068.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/rafa_paola/167C0633.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/_MG_8579.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/167C0680.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/rafa_paola/167C1498.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the first column -->

      <!-- Start of the second column -->

      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/rafa_paola/12212270018.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/rafa_paola/_MG_7910-3.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/12212270017.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/rafa_paola/_MG_8503.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/_MG_8593.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/rafa_paola/_MG_8030.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/167C0521.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/_MG_8294.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/rafa_paola/167C1515.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/12212270002.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the second column -->
    </div>
  </div>
</div>
<app-footer></app-footer>
