<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="img-container">
    <h1 class="text-white text-center m-5">Rafa y Paola</h1>
    <div class="row">
      <!-- Start of the first column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/rafa_paola/12212270001.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/rafa_paola/12212270018.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/rafa_paola/12212270004.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the first column -->

      <!-- Start of the second column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/rafa_paola/12212270002.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/rafa_paola/12212270017.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the second column -->
    </div>
  </div>
</div>
<app-footer></app-footer>
