<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="img-container">
    <h1 class="text-white text-center m-5">Carla y Marcos</h1>
    <div class="row">
      <!-- Start of the first column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/carla_marcos/167C3381.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3497.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3541.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3606.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3673.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3692.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3701.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3754.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3804.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3825.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3853.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the first column -->

      <!-- Start of the second column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/carla_marcos/167C3486.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3510.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3568.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3655.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3686.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3693.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3711.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3784.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3816.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/167C3829.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/IMG_2865.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/carla_marcos/IMG_2876.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the second column -->
    </div>
  </div>
</div>
