.navbar {
  background-color: #241f1f;
}
.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff !important;
}

.nav-link {
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f0f0f0 !important;
}

.active {
  color: #f0f0f0 !important;
}

.line-container {
  position: relative;
  width: 100%;
  height: 5vh;
}

.accent-line {
  position: absolute;
  left: -5%;
  top: 50%;
  width: 70%;
  height: 3px;
  background-color: white;
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  .line-container {
    display: none;
  }

  .accent-line-toggler {
    position: absolute;
    right: -5%;
    top: 50%;
    width: 70%;
    height: 3px;
    background-color: white;
    transform: translateY(-50%);
  }
}
