@import '/src/variables';

.logo {
  max-width: 100px; // Adjust the max-width as needed
  height: auto; // This ensures the logo maintains its aspect ratio
  cursor: pointer;
}

.navbar {
  background-color: $primary-color;
  padding: 0.5rem 1rem;

}
.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff !important;
}

.nav-link {
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: $secondary-color !important;
  border-bottom: 2px solid $secondary-color;
}

.active {
  color: $secondary-color !important;
}

.line-container {
  position: relative;
  width: 100%;
  height: 5vh;
}

.accent-line {
  position: absolute;
  left: -5%;
  top: 50%;
  width: 70%;
  height: 3px;
  background-color:  $secondary-color;
  transform: translateY(-50%);
}


@media (max-width: 768px) {
  .logo {
    max-width: 80px; // Smaller logo for mobile devices
  }
}


/* @media (max-width: 991.98px) {
  .line-container {
    display: none;
  }

  .accent-line-toggler {
    position: absolute;
    right: -5%;
    top: 50%;
    width: 70%;
    height: 3px;
    background-color: white;
    transform: translateY(-50%);
  }
} */
