/* styles.scss or styles.css */

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff !important;
}

.nav-link {
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f0f0f0 !important;
}

.active {
  color: #f0f0f0 !important;
}
