<div class="container-fluid gallery-container py-5">
  <div class="gallery-title text-center mb-5">
    <h2>Mis Trabajos</h2>
    <p>Haz clic en uno de estos álbumes para ver más fotos.</p>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <div class="card bg-dark text-white">
        <a [routerLink]="['/boda-rafa-paola']" class="stretched-link">
          <img
            src="/assets/rafa_paola/_MG_8579.webp"
            class="card-img"
            alt="Carla y Marcos"
          />
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="card-title custom-card-title">Rafa y Paola</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card bg-dark text-white">
        <a [routerLink]="['/boda-david-angel']" class="stretched-link">
          <img
            src="/assets/david_angel/12310190011-min.webp"
            class="card-img"
            alt="David e Angel"
          />
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="card-title custom-card-title">David y Ángel</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card bg-dark text-white">
        <a [routerLink]="['/boda-sandra-diego']" class="stretched-link">
          <img
            src="/assets/sandra_diego/12308220001.webp"
            class="card-img"
            alt="Sandra y Diego"
          />
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="card-title custom-card-title">Sandra y Diego</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <a [routerLink]="['/boda-bea-iñigo']" class="stretched-link">
          <img
            src="/assets/bea_iñigo/12305310019.webp"
            class="card-img"
            alt="Bea e Iñigo"
          />
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="card-title custom-card-title">Bea e Iñigo</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card bg-dark text-white">
        <a [routerLink]="['/eros-angela']" class="stretched-link">
          <img
            src="/assets/eros_angela/167C6027.webp"
            class="card-img"
            alt="Bea e Iñigo"
          />
          <div class="card-img-overlay d-flex align-items-end">
            <h5 class="card-title custom-card-title">Eros y Angela</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
