<app-navbar></app-navbar>
<div class="container-fluid gallery-container">
  <h2 class="gallery-title text-white">Mis Trabajos</h2>
  <div class="row">
    <div class="col-md-6 gallery-image">
      <a [routerLink]="['/bea-iñigo']">
        <div class="image-overlay-container">
          <img
            src="/assets/bea_iñigo/167C7876.jpg"
            class="img-fluid"
            alt="A countryside wedding"
            loading="lazy"
          />
        </div>
      </a>
      <span class="image-caption">Bea e Iñigo</span>
    </div>
    <div class="col-md-6 gallery-image">
      <a [routerLink]="['/carla-marcos']">
        <img
          src="/assets/carla_marcos/167C3711.jpg"
          class="img-fluid"
          alt="A countryside wedding"
          loading="lazy"
      /></a>
      <span class="image-caption">Carla y Marcos</span>
    </div>
    <div class="col-md-6 gallery-image">
      <a [routerLink]="['/david-angel']">
        <img
          src="/assets/david_angel/12310190011-min.jpg"
          class="img-fluid"
          alt="A countryside wedding"
          loading="lazy"
      /></a>
      <span class="image-caption">David e Angel</span>
    </div>
    <div class="col-md-6 gallery-image">
      <a [routerLink]="['/wedding1']">
        <img
          src="/assets/weddings-img/wedding1.webp"
          class="img-fluid"
          alt="A countryside wedding"
          loading="lazy"
      /></a>
      <span class="image-caption">A countryside wedding</span>
    </div>
  </div>
</div>
