@import "/src/variables";

.container-fluid {
  text-align: center;
  color: $secondary-color;
  height: 100vh;
}
.close-button {
  cursor: pointer;
  border: none;
  background: transparent;
}
.contact-icons {
  margin-right: 8px;
}
.contact-item a {
  text-decoration: none;
  color: inherit;
}
.instagram-icon {
  color: #cd18c7;
}
.contact-form {
  margin-top: 20px;
}
.form-input,
.form-textarea,
.form-submit {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}
.form-textarea {
  resize: vertical;
}

