@import "/src/variables";

.container-fluid {
  padding: 20px;
}

h2 {
  color: #f8f9fa;
  margin-bottom: 30px;
}

.contact-container {
  display: flex;
  color: $secondary-color;
  padding: 20px;
  justify-content: space-around;
}
.contact-item a{
  color: inherit;
  text-decoration: none;
}
.container {
  background-color: #20232a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-light {
  background-color: #61dafb;
  color: #282c34;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-light:hover {
  background-color: #36a9e1;
}

.form-group {
  margin-bottom: 15px;
  // border: 5px solid blue;
}

label {
  display: block;
  margin-bottom: 5px;
  color: $secondary-color;
}

.fa-solid {
  margin-right: 10px;
}

@media all and (max-width: 750px) {
  .contact-container {
    flex-direction: column;
    font-size: 14px;
  }
}
