@import "/src/variables";

section {
  color: $secondary-color;

}

.form-control {
  background-color: #333;
  border: 1px solid #555;
  color: $secondary-color;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus {
  background-color: #444;
  border-color: #aaa;
}

.btn-light {
  border: 1px solid #fff;
}

.btn-light:hover {
  background-color: #f8f9fa;
  color: #333;
}



