
<div class="contact-container text-center">
  <h2>Mis Datos de Contacto</h2>

  <div class="contact-item">
    <i class="fa-solid fa-envelope"></i>
    <span>{{ email }}</span>
  </div>

  <div class="contact-item">
    <i class="fa-solid fa-mobile-screen-button"></i>
    <span>{{ telefono }}</span>
  </div>

  <div class="contact-item">
    <i class="fa-brands fa-instagram"></i>
    <a
      href="https://www.instagram.com/{{ instagramUsername }}"
      target="_blank"
      >{{ instagramUsername }}</a
    >
  </div>
</div>
