<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="img-container">
    <h2 class="text-white text-center m-5" >
      Sandra & Diego
    </h2>
    <p class="description">
      Sandra y Diego, en su deseo de capturar su amor junto al mar, eligieron el
      encantador Sitges para sus fotos de boda. Este lugar, famoso por sus
      hermosas playas y su ambiente único, reflejaba perfectamente la esencia de
      su unión. La entrada a su celebración fue igualmente espectacular:
      llegaron en una carroza tirada por elegantes caballos andaluces, un
      detalle que añadió un toque de magia y tradición a su día especial. Esta
      elección no solo destacó por su belleza, sino que también simbolizó la
      importancia de la tradición y el romance en su relación, haciendo de su
      boda un evento inolvidable tanto para ellos como para sus invitados.
    </p>
    <div class="row">
      <!-- Start of the first column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/sandra_diego/167C0548.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0581.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/sandra_diego/167C1007.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0672.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/sandra_diego/12306210025.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0640.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0677.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <!-- <img
          src="/assets/sandra_diego/167C0809.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        /> -->

        <img
          src="/assets/sandra_diego/167C0786.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the first column -->

      <!-- Start of the second column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/sandra_diego/167C0631.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0457.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0433.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/sandra_diego/167C0615.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0467.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/sandra_diego/167C0759.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/12308220001.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/12308220020.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the second column -->
    </div>
  </div>
</div>
<app-footer></app-footer>
