<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="img-container">
    <h1 class="text-white text-center m-5">Sandra y Diego</h1>
    <div class="row">
      <!-- Start of the first column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/sandra_diego/167C0784.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0316-2.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0548.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0581.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0672.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0677.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0759.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0786.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />

      </div>
      <!-- End of the first column -->

      <!-- Start of the second column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/sandra_diego/167C0457.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0433.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0467.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0615.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0640.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0809.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0729.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/sandra_diego/167C0781.jpg"
          class="img-fluid m-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the second column -->
    </div>
  </div>
</div>
