<div
  #carousel
  id="carouselCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="2000"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide-to="5"
      aria-label="Slide 6"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide-to="6"
      aria-label="Slide 7"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselCaptions"
      data-bs-slide-to="7"
      aria-label="Slide 8"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/assets/slider/kloiuy.webp"
        class="d-block w-100"
        alt="First slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/160.webp"
        class="d-block w-100"
        alt="Second slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/MG_1737.webp"
        class="d-block w-100"
        alt="Third slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/a.webp"
        class="d-block w-100"
        alt="fourth slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/167C0631.webp"
        class="d-block w-100"
        alt="fifth slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/baja.webp"
        class="d-block w-100"
        alt="fifth slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/167C0026.webp"
        class="d-block w-100"
        alt="fifth slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/167C0911.webp"
        class="d-block w-100"
        alt="fifth slide"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/_MG_2599.webp"
        class="d-block w-100"
        alt="fifth slide"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<app-footer></app-footer>
