<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="img-container">
    <h2 class="text-white text-center m-5">Bea e Iñigo</h2>
    <p class="description">
      Bea e Iñigo eligieron el singular encanto de Caparroso para unir sus
      vidas, un lugar donde la historia y el amor se entrelazan. Su boda fue un
      reflejo de su pasión compartida por lo auténtico, culminando con una
      sesión de fotos inolvidable en un castillo medieval. Entre torres antiguas
      y muros de piedra, capturaron momentos que parecen sacados de otra época,
      simbolizando la fortaleza y eternidad de su unión. Cada sonrisa y cada
      mirada entre los recién casados quedó inmortalizada, prometiendo que, al
      igual que las históricas paredes que los rodeaban, su amor resistirá el
      paso del tiempo. Bea e Iñigo comenzaron así su vida juntos, con la promesa
      de construir su propio legado, tan perdurable como el castillo que fue
      testigo de su amor.
    </p>
    <div class="row">
      <!-- Start of the first column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/bea_iñigo/IMG_7641.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/12305310017.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/bea_iñigo/IMG_7656.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/12305310039.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/167C7749.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/12305310061.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/bea_iñigo/12305310019.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/167C7874.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the first column -->

      <!-- Start of the second column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/bea_iñigo/_MG_7706.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/12305310035.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/12305310028.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/167C7846.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/12305310004.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/_MG_7709.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/bea_iñigo/167C7738.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/bea_iñigo/167C7930.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the second column -->
    </div>
  </div>
</div>
<app-footer></app-footer>
