@import "/src/variables";

.container-fluid {
  background-color: $primary-color;
}
.img-container {
  width: 980px;
  padding: 20px;
}

.row img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

/* Hover animation for images */
.row img:hover {
  transform: scale(1.05); /* Scale up on hover */
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(215, 209, 209, 0.2); /* Shadow for depth */
}

/* Animation for the image container */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-container {
  animation: fadeIn 1s ease-out;
}
