<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="img-container">
    <h1 class="text-white text-center m-5">David e Angel</h1>
    <div class="row">
      <!-- Start of the first column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/david_angel/12310190021-min.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190022-min.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/167C5242.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/167C5406.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190007-min.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190010-min.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190012-min.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190033.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190036.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190039.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the first column -->

      <!-- Start of the second column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/david_angel/12310190028.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190002-min.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190011-min.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="fotografo de navarra"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190019-min.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190032.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/IMG_4922.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190017-min.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190015-min.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190040.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/167C5844.jpg"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the second column -->
    </div>
  </div>
</div>
