<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="img-container">
    <h2 class="text-white text-center m-5">David e Angel</h2>
    <p class="description">
      David y Ángel celebraron su unión en un lugar único y lleno de historia en
      Madrid: la Real Fábrica de Tapices. Rodeados de arte y tradición,
      prometieron amarse ante familiares y amigos en un entorno que fusionaba
      elegancia y originalidad. La ceremonia fue íntima y emotiva, reflejando la
      profundidad de su conexión y el respeto mutuo que los caracteriza. La
      fiesta que siguió fue simplemente inolvidable. Con una atmósfera vibrante,
      música que invitaba a no dejar de bailar y una alegría que contagiaba a
      todos, David y Ángel celebraron su amor rodeados de cariño y diversión. La
      Fábrica de Tapices, con su historia y belleza, fue el escenario perfecto
      para una noche llena de risas, bailes y momentos memorables. Su boda no
      solo fue una celebración de su amor, sino también un testimonio de la
      amistad y la alegría compartida con aquellos que más significan para
      ellos. David y Ángel comenzaron su viaje juntos en Madrid, dejando claro
      que su amor, al igual que la fiesta de su boda, sería vibrante, alegre y
      profundamente enriquecedor.
    </p>
    <div class="row">
      <!-- Start of the first column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/david_angel/12310190021-min.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190022-min.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/167C5242.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/167C5406.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190007-min.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190010-min.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190012-min.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190033.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190036.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190039.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the first column -->

      <!-- Start of the second column -->
      <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-4">
        <img
          src="/assets/david_angel/12310190028.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190002-min.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190011-min.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="fotografo de navarra"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190019-min.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190032.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/IMG_4922.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/12310190017-min.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190015-min.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />

        <img
          src="/assets/david_angel/12310190040.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
        <img
          src="/assets/david_angel/167C5844.webp"
          class="img-fluid mt-3 mb-3 me-3"
          alt="foto de boda"
          loading="lazy"
        />
      </div>
      <!-- End of the second column -->
    </div>
  </div>
</div>
<app-footer></app-footer>
