<app-navbar></app-navbar>
<div class="container-fluid px-4 py-5">
  <div class="row justify-content-center align-items-center g-5 py-5">
    <div class="col-12 col-sm-8 col-lg-6">
      <img
        src="/assets/modesto.jpg"
        class="d-block mx-auto img-fluid profile-picture"
        alt="bodas navarra"
        loading="lazy"
      />
    </div>
    <div class="col-12 col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 profile-title">Sobre mi</h1>
      <p class="lead">
        Con más de 20 años de experiencia capturando la esencia de más de 500
        bodas, soy un fotógrafo especializado en bodas en Navarra reconocido por
        mi habilidad para capturar momentos espontáneos y originales. Mi enfoque
        único en la fotografía de bodas se centra en contar la historia de tu
        día especial a través de imágenes que hablan por sí solas, llenas de
        emoción y autenticidad. Como fotógrafo de bodas en Navarra, mi pasión es
        crear recuerdos inolvidables que reflejen la belleza y la singularidad
        de cada celebración. Permíteme ser el narrador de tu amor, capturando
        cada sonrisa, lágrima y abrazo de una manera que solo un verdadero
        experto en bodas puede hacerlo.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
