<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/assets/slider/kloiuy.webp"
        class="d-block w-100"
        alt="Foto en blanco y negro de Modesto, fotógrafo profesional en Navarra"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/_MG_2599.webp"
        class="d-block w-100"
        alt="Pareja de novios recién casados en Navarra, capturados por Modesto"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/160.webp"
        class="d-block w-100"
        alt="Novios recién casados en Navarra con amigos, por Modesto fotógrafo"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/rosas.webp"
        class="d-block w-100"
        alt="Fotografía de novios recién casados en Navarra por Modesto"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/a.webp"
        class="d-block w-100"
        alt="Grupo de amigas de la novia en boda, fotografiadas en Navarra"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/167C0911.webp"
        class="d-block w-100"
        alt="Sesión fotográfica postboda en Navarra, realizada por Modesto"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/baja.webp"
        class="d-block w-100"
        alt="Amigos de los novios celebrando en Navarra, fotografía de Modesto"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/MG_1737.webp"
        class="d-block w-100"
        alt="Sesión fotográfica postboda en un bosque de Navarra por Modesto"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/assets/slider/playa.webp"
        class="d-block w-100"
        alt="Fotografía de boda en la playa por Modesto, fotógrafo en Navarra"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
